.row {
  margin-left: 57px;
}

.title {
  color: #0b0303;
  font-size: 20px;
  margin-top: 50px;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  margin-top: 6px;
  margin-bottom: -59px;
  margin-right: 59.05px;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  /* transition: transform 450ms; */
  max-height: 123px;
  width: 217px;
  object-fit: contain;
  margin-right: 4px;
}

.poster-img {
  width: 217px;
  height: 123px;
}
