.search {
  width: 214px;
  height: 32px;
  margin-right: 24.5px;
  margin-top: 19px;
  background: #ffffff;
  border: 1px solid #0b0303;
  box-sizing: border-box;
}

.search__input {
  height: 19px;
  margin-top: 6px;
  margin-left: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #676767;
  border: none;
}

.search__icon__container {
  margin-top: -21px;
  margin-left: 189.17px;
}

img.search__icon {
  width: 12.83px;
  height: 12.83px;
}

input:focus {
  outline: none;
}
